.motion-span{
  color: var(--white);
  font-weight: 900;
  font-size: 8rem;
  text-transform: uppercase;
  display: inline-block;
}

@media screen and (max-width: 570px ) {
  .motion-span{
    color: var(--white);
    font-weight: 900;
    font-size: 3.6rem;
    text-transform: uppercase;
    display: inline-block;
  } 
}