.navbar{
  margin: 2rem;
  height: 93px;
  border: 1px solid var(--lightPurple);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul{
  display: flex;
  list-style-type: none;
  gap: 2.5rem;
  padding-left: 2.5rem;
}

.navbar ul li{
  cursor: pointer;
}

.icon{
  height: 100%;
  width: 92px;
  display: grid;
  place-items: center;
  border-left: 1px solid var(--lightPurple);
  cursor: pointer;
}