.app-header{
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.app-wrapper{
  width: calc(100% - 125px);
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.app-title h1,h2{
  color: var(--white);
  font-weight: 900;
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
}

.text-hidden{
  display: none;
}

.app-title_desc{
  text-transform: uppercase;
  color: var(--lightPurple);
  border: 1px solid var(--lightPurple);
  width: 100%;
  text-align: center;
  padding: 1rem;
  letter-spacing: .3rem;
}

.app-title_btn{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  background: transparent;
  border: 1px solid var(--lightPurple);
  border-radius: 8px;
  padding: 1.8rem;
  margin-top: 2.5rem;
  transform: rotate(-5deg);
  cursor: pointer;
  transition: 100ms ease-in-out;
}

.app-title_btn:hover{
  transform: rotate(0);
}

.scrollDown{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  margin-bottom: 1rem;
  cursor: pointer;
  color: var(--white);
  font-weight: 400;
}

.scrollDown span:last-child{
  width: 35px;
  height: 65px;
  border-radius: 20px;
  border: 1px solid var(--lightPurple);
  position: relative;
}

.scrollDown span:last-child::before{
  content: '';
  display: block;
  width: 5px;
  height: 8px;
  background-color: var(--lightPurple);
  position: absolute;
  top: 10px;
  right: 14px;
  border-radius: 5px;
}

.app-main{
  height: 100vh;
}