.header-header{
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.header-wrapper{
  width: calc(100% - 125px);
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  text-align: center;
}

.header-title_desc{
  text-transform: uppercase;
  color: var(--lightPurple);
  border: 1px solid var(--lightPurple);
  width: 100%;
  padding: 1rem;
  letter-spacing: .3rem;
}

.header-title_btn{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  background: transparent;
  border: 1px solid var(--lightPurple);
  border-radius: 8px;
  padding: 1.8rem;
  margin-top: 2.5rem;
  transform: rotate(-5deg);
  cursor: pointer;
  transition: 100ms ease-in-out;
}

.header-title_btn:hover{
  transform: rotate(0);
}

.scrollDown{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  margin-bottom: 1rem;
  cursor: pointer;
  color: var(--white);
  font-weight: 400;
}

.scrollDown span:last-child{
  width: 35px;
  height: 65px;
  border-radius: 20px;
  border: 1px solid var(--lightPurple);
  position: relative;
}

.scrollDown span:last-child::before{
  content: '';
  display: block;
  width: 5px;
  height: 8px;
  background-color: var(--lightPurple);
  position: absolute;
  top: 10px;
  right: 14px;
  border-radius: 5px;
}

.app-main{
  padding: 0 10rem;
}

/* ===== about section ==== */

.about{
  min-height: 100vh;
  padding-top: 8rem;
}

.about-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.about-head {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.about-head h2{
  color: var(--white);
  font-size: 4rem;
  font-weight: 900;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.about-head h2 > span{
  color: var(--purple);
  font-size: 6rem;
}

.about-head > span{
  display: block;
  background-color: var(--purple);
  width: 100%;
  height: 1px;
  flex: 1;
}

.about-left p{
  width: 100%;
  max-width: 750px;
  color: var(--white);
  font-size: 1.15rem;
  margin-top: 1rem;
  line-height: 1.5;
}

.about-left  p:first-child::first-letter{
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
  color: var(--purple);
  font-size: 250%;
  font-weight: 900;
  padding: 3px 13px;
  margin-right: 6px;
  float: left;
}

.about-links{
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  color: var(--purple);
  margin-bottom: 2rem;
}

.about-links ul{
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.about-right{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
}

.skills-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 240px;
}

.skills-wrapper > div:first-child{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: var(--white);
}

.skills{
  display: flex;
  width: 100%;
  max-width: 400px;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 8rem;
}

.skills span{
  background-color: var(--purple);
  color: var(--white);
  padding: 0.5rem .8rem;
  border-radius: 50px;
}

/* ======== projects ======= */

.projects{
  min-height: 100vh;
  padding-top: 8rem;
}

.projects-head {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.projects-head h2{
  color: var(--white);
  font-size: 4rem;
  font-weight: 900;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.projects-head h2 > span{
  color: var(--purple);
  font-size: 6rem;
}

.projects-head > span{
  display: block;
  background-color: var(--purple);
  width: 100%;
  height: 1px;
  flex: 1;
}

.cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2.5rem;
}

/* ========= CONTACT ========== */

.contact{
  min-height: calc(100vh - 200px);
  padding-top: 8rem;
}

.contact-head {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.contact-head h2{
  color: var(--white);
  font-size: 4rem;
  font-weight: 900;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.contact-head h2 > span{
  color: var(--purple);
  font-size: 6rem;
}

.contact-head > span{
  display: block;
  background-color: var(--purple);
  width: 100%;
  height: 1px;
  flex: 1;
}

.contact-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-wrapper > p{
  color: var(--lightPurple);
  font-size: 1.25rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.contact-wrapper p > a{
  margin: 0.3rem;
}

.contact-wrapper > a{
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 900;
  gap: .5rem;
  cursor: pointer;  
}

/* ==== FOOTER ====*/

.app-footer{
  height: 200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.app-footer > span:first-child{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--lightPurple);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  justify-content: center;
  min-width: 300px;
 
}

.app-footer a{
  color: var(--white);
}

.app-footer a span{
  color: var(--purple);
  font-size: 1.75rem;
}

.app-footer > span:last-child{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  cursor: pointer;
}

/* MEDIAS  */

@media screen and (max-width: 970px) {
  .header-wrapper{
    width: 100%;
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

}

@media screen and (max-width: 850px){
  /* GENERAL */
  .app-main{
    padding: 0 1.5rem;
  }

  .about-head, .projects-head, .contact-head {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-head h2, .projects-head h2, .contact-head h2{
    font-size: 3rem;
    font-weight: 900;
    margin-left: 0rem;
  }
  
  .about-head h2 > span, .projects-head h2 > span, .contact-head h2 > span{
    color: var(--purple);
    font-size: 5rem;
  }
  
  .about-head > span, .projects-head > span, .contact-head > span{
    display: none;
  }
  /*=======  HEADER ======= */  
  .header-wrapper{
    width: 100%;
    padding: 1rem;
  }

  .header-title_desc{
    padding: .6rem;
    line-height: 1.5rem;
    letter-spacing: .2rem;
    font-size: .8rem;
  }

  .header-title_btn{
    font-size: 1.25rem;
  }
  
  .scrollDown{
    display: none;
  }
  
  /* ======= ABOUT ======= */
  .about-links{
    flex-direction: column;
  }

  .about-right{
    margin-top: 2rem;
    padding-left: 0;
  }
  
  .skills{
    justify-content: center;
    margin-bottom: 4rem;
  }
  /* ======= CONTACT ======= */

  .contact-wrapper > a{
      font-size: 1rem;
    }

  /* ======= FOOTER ======= */

  .app-footer{
    align-items: center;
    justify-content: center;
  }

  .app-footer > span:first-child{
    font-size: 1.25rem;
    flex: auto;
  }

  .app-footer > span:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 0;
    cursor: pointer;
  }
}